.app_header{
    margin: 63px;
    text-align: -webkit-center;
    color: #ffffff;
}
.app_create{
margin: auto;
text-align: center;
}

.app_all{
    margin-top: 30px;
    color: white;
    margin-left: 25px;
}
.app_todos{
    display: inline-block; 
    margin: 20px;   
}

.todo_box{
display: flex;
color: white;
position: relative;
flex-wrap: nowrap;
}
.todo_box > p {
    margin-right: 7px;
    padding-top: 0.9rem;
}

.todo_details{
        /* margin: 20px; */
    width: 300px;
    height: 100px;
    background-color: #2f2f2f;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 50%);
    padding-top: 1rem;
    /* align-items: center; */
    /* justify-content: space-between; */
    cursor: pointer;
    overflow:hidden
}
.todo_details_border{
    width: 300px;
    height: 100px;
    background-color: #202020;
    border-radius: 10px;
    padding-top: 1rem;
    cursor: pointer;
    border: 2px solid #7ab530;

}

.todo_delete {
    margin: 20px 0 0;
    border-top: 2px solid #5c5c5c;
    padding-top: 10px;
    background-color: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 100%; */
    padding: 1rem;
}


.todo_details > h5{
    background-color: inherit;
    margin-left: 20px;
    font-weight: 400;    
}
.todo_details_border > h5{
    background-color: inherit;
    margin-left: 20px;
    font-weight: 400;
    }

i.fa-solid.fa-check {
    position: absolute;
    top: 12%;
    right: -4%;
    padding: 8px;
    background-color: #7ab530;
    border-radius: 50%;
    font-size: 12px;
}

