.todo_complete{
     background-color: inherit;
     outline: none;
     border: none;
     color: #afafaf;
     cursor: pointer;
}
.todo_completed{
    background-color: #c620a7;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 8px 25px;
    border-radius: 4px;
    width: 100%;
   
}
/* //tlbr; */